body {
    font-family: Helvetica;
    background: #000000;
}

#main-wrapper {
    margin: 20px auto;
    overflow: visible;
    z-index: 1;
    color: #ffffff;
    font-size: 60;
    text-align: left;
}
#chart {
    margin: 0px auto;
}
h1 {
	font-size: 70px;
	padding: 3px 0px;
	font-weight: normal;
    text-align: center;
    font-family: Georgia;
}

h2 {
    font-size: 20px;
    padding: 3px 0px;
    font-weight: normal;
    text-align: left;
    font-family: Helvetica;
    fill: #;
}
text {
    fill: #ffffff;
/*    display: none;*/
}


}
